body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:black;
    background-color: white;
    padding:3px 100px;
}

header, nav, main, footer{
    max-width:1500px;
    padding: 0 12px;
}

header, nav, footer{
    background: #F7F7F7;
}

header, nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px
}

nav{
    border-bottom: 1px solid #DEDEDE;
}

nav div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items:flex-end;
}

nav .form-signin{
    margin-bottom:10px;
}

main {
    background-color:white;
    padding:20px 0;
}

footer {
    border-top: 1px solid #DEDEDE;
    padding: 5px 0;
    text-align: right;
    font-size:0.7em;
}

header h1 {
    margin: 0;
}

nav ul{
    list-style:none;
    display:flex;
    gap:10px;
    margin:0;
    padding:0;
}

nav button, nav a, nav .buttonSignUp, .buttonSub, .buttonUpdate{
    color: dimgray;
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.buttonSub:hover, .buttonUpdate:hover, .buttonSub:focus, .buttonUpdate:focus,
nav button:hover, nav .buttonLinkPage:hover, nav .buttonSignUp:hover,
nav button:focus, nav .buttonLinkPage:focus, nav .buttonSignUp:focus{
    border: 1px solid #3F3F3F;
    border-radius: 5px;
    padding:0 10px;
    background-color: dimgray;
    color:white;
}

.buttonSub:active, .buttonUpdate:active,
nav button:active, nav .buttonLinkPage:active, nav .buttonSignUp:active{
    transform:translate3d(1px,1px,0);
}

nav .buttonSignUp{
    margin:0 5px;
}

.message{
    background:#eef;
    border:1px solid #99c;
    padding:8px;
    margin-bottom:10px;
}

.message-errors{
    background:#ffeaea;
    border:1px solid #c99;
}

.error{
    background-color:#ffe3e3;
    border:1px solid #c99;
    border-radius:5px;
    padding:3px;
    /*color:black;*/
}

.form-signup label, .form-signup button{
    display: block;
    padding:4px;
}

.form-settings label, .form-settings button{
    display:inline-block;
    padding:3px;
}
.liste-recettes {
  text-align: left;
}

.cocktail-card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 200px;
  height: 310px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  background: white;
  font-family: "Times New Roman", Times, serif;
}

.card-header {
  align-items: center;
  margin-bottom: 6px;

}

.cocktail-title {
  font-weight: bold;
  font-size:15px;
}

.card-image {
  text-align:center;
  margin: 8px 0 10px;
}

.card-image img {
  width:90px;
  height: auto;
}

.ingredients-list {
  list-style: none;
  padding:0;
  margin:0;
}

.ingredients-list li {
  font-size:14px;
  margin: 2px 0;
}
